<a href="https://www.kaggle.com/code/ellekayem/linear-regression?scriptVersionId=127731468" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

## Exploratory Analysis with Linear Regressions


### Analysis by Lauren Main

### Feature Tasks Version 1.0

* [Read and Display the Data Set](#section-one)
* [Describe the Data Set ](#section-two)
* [Test](#section-three)
* [Train](#section-four)
* [Fit the Model](#section-five)
* [Score the Model](#section-six)
* [Conclusions](#section-seven)

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

<a id="section-one"></a>

### Read and Display the Data Set

In [2]:
df = pd.read_csv('/kaggle/input/calcofi/bottle.csv', low_memory = False)
df_subset = df[['Salnty', 'T_degC']]
df_subset.columns = ['Salinity', 'Temperature in Celcius']
df_subset.head()

   Salinity  Temperature in Celcius
0    33.440                   10.50
1    33.440                   10.46
2    33.437                   10.46
3    33.420                   10.45
4    33.421                   10.45

<a id="section-two"></a>
### Describe the Data Set

In [3]:
df_subset.describe()

            Salinity  Temperature in Celcius
count  817509.000000           853900.000000
mean       33.840350               10.799677
std         0.461843                4.243825
min        28.431000                1.440000
25%        33.488000                7.680000
50%        33.863000               10.060000
75%        34.196900               13.880000
max        37.034000               31.140000